<div layout="row" layout-fill layout-padding>
  <div flex="75">
    <h2>Who am I</h2>
    <p>
      Yo… Soy… Un tipo de la generación del ’84, nacido en las tierras de Don Quijote, donde hay buen vino y buen queso, apasionado por el mundo de la manzanita, el desarrollo y el deporte.

      Me encanta la tecnología y el mundo de la programación, profesionalizado en entorno web, con un perfil bastante polivalente, cuya experiencia se basa en más de 6 años de experiencia trabajando con PHP, MySQL, JavaScript, xHTML y CSS(3), además de casi un año con Ruby on Rails.

      Disfruto trabajando con API's de terceros para la integración de servicios o potenciar las opciones del proyectos, y entre las que he utilizado se encuentran Google Maps, Facebook, Twitter y Foursquare, y no me faltan ganas de probar nuevos servicios.

      My background se compone de diversos tipos de proyectos, desde básicas web presenciales, hasta plataformas de streaming con conversión de vídeo, pasando por portales de noticias, aplicaciones web y tiendas online. También he trabajado en grandes proyectos como LetsBonus, eCommerce dedicado a la venta de ofertas diarias, y Tiching, red social educativa con gestión de contenidos, bibliotecas y clases, y recientemente market place.

      Tengo experiencia con Git, tanto a nivel personal como en la empresa, para el mantenimiento de las versiones de código, y el trabajo colaborativo, trabajando en ramas, integrando, y resolviendo conflictos.

      Me encanta enfrentarme a nuevos retos, no tengo problemas para entrar en territorio desconocido. Eso me anima a mejorar más y aprender, y además genera doble recompensa al final del camino.

      Me integro fácilmente en nuevos equipos, disfrutando al trabajar codo con codo con los compañeros para lograr un objetivo, aprendiendo de ellos, y aportando mi granito de arena siempre que sea posible.

      Especialidades: PHP, JavaScript (jquery, sencha), xHTML, CSS, ruby, objective-c, desarrollo web, web development, RoR, ruby on rails, HTML5, css3, git, API's, facebook, twitter
    </p>
  </div>
  <div flex="25">
    <h3>You can follow me on:</h3>

    <ul>
      <li><a href="http://twitter.com/javiBertos">Twitter</a></li>
      <li><a href="http://www.facebook.com/javierbertos">Facebook</a></li>
    </ul>
  </div>
</div>